html, body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #080705;
}

#playingField{
  background: #080705;
}

#finishScreen{
  background: #fff;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: none;
  z-index: 999;
}